@charset "UTF-8";
/* CSS Document */

body {
	font-size: 11px; 
	color: #444; 
	font-family: Helvetica, Arial, sans-serif; 
	background: #575757;
}

#forkme {
  background: url('image/fork.gray.png') no-repeat;
  height: 149px;
  width: 149px;
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}

#wrapper {
  margin: 0 auto;
  width: 600px;
}

#wrapper h1 {
  color: #e9e9e9;
  padding-top: 10px;
}

#wrapper #title {
  background: url('image/key.png') no-repeat;
  height: 48px;
  padding-left: 55px;
}

.block {
  border: 1px solid #d0d0d0;
  padding: 10px 20px;
  background: #FAFAFC;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  min-height: 100px;
}

.block input {
  border: 1px solid #E0E0E0;
}

.block form {
  margin-bottom: 10px;
}

.block .description {
  color: #e9e9e9;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  font-size: 2em;  
  font-weight: bold;
  display: block;
}

.block .password {
  top: 50px;
  left: -65px;
}

.block .phrase {
  top: 35px;
  left: -50px;
}

.block .sentence {
  top: 45px;
  left: -61px;
}

.block .hash {
  top: 25px;
  left: -39px;
}

.block .base64 {
  top: 35px;
  left: -49px;
}

.block .base64method {
  margin-top: 40px;
}

.block textarea {
  margin-left: 2px; 
  margin-right: 2px; 
  width: 352px; 
  margin-top: 2px; 
  margin-bottom: 2px; 
  height: 33px; 
}

.block .jq_genbase64_result {
 width: 500px;
}

.jq_genbase64_result {
  font-size: 1.8em;
  padding: 2px;
}

.jq_genhash_result {
  font-size: 1.5em;
  padding: 2px;
}

.jq_genpassword_result, .jq_genpassphrase_result, .jq_gensentence_result{
  font-size: 2em;
  padding: 2px;
}

.genbutton  {
	height: 40px; 
	width: 100px;
	background: #d2d2d2;
	border: 1px solid #acacac ;
	font-size: 1.2em;
	font-weight: bold;
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.genpass-holder{
	position: relative;
	width: 300px;
	
}

.genpass-line {
	height: 30px;
}

.genpass-line input {
	float: right;	
}

.genpass-line select {
  float: right;
}

#gen_password, #gen_passphrase, #gen_sentence, #gen_hash {
  margin-top: 5px;
}

#footer {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

#footer p{
  padding: 0;
  margin: 0;
  color: gray;
}

#footer a {
  color: gray;
  text-decoration: none;
}


